html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.main-menu {
  margin-top: -30px;
  background-color: #f8f8f8;
  border-radius: 50px 50px 0px 0px;
}

h2.resto {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
  margin: 30px 6% 0px;
}

.plat-type {
  overflow: hidden;
  min-height: 150px;
}

.plat-box {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.plat-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.prix {
  margin-right: 0px;
}

.check-appear {
  display: flex;
  background-color: #99e2d0;
}

.fas.fa-check {
  background-color: white;
  margin: 35%;
  border-radius: 50%;
  color: #99e2d0;
  padding: 3px;
}

.btn {
  border-radius: 30px 30px 30px 30px;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border-style: hidden;
  font-size: 15px;
  font-weight: 400;
  color: white;
  margin: 0px 0px 50px;
  box-shadow: 2px 2px 5px 2px #f8f8f8;
}

.btn--order {
  display: block;
  margin: 40px auto 50px;
  padding: 15px 50px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fbfbfb;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: "Roboto";
}

.resto-body {
  justify-content: center;
}

header {
  padding-top: 10px;
  text-align: center;
  font-family: "Shrikhand";
}

h1 {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
}

header:not(.header-title) {
  max-height: 320px;
}

.wrapper {
  padding: 0;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: inset 2px 3px 3px 2px #9a9a9a;
}

.localisation {
  background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px -5px #2c2c2c;
}

p {
  padding-left: 5px;
  font-family: "Roboto";
  font-weight: bold;
}

.discover {
  background-color: #f8f8f8;
  opacity: 3.0;
  box-shadow: 2px 2px 3px -3px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 50px;
}

.discover h2 {
  font-size: 18px;
  font-weight: 100;
  color: #2c2c2c;
  margin: 25px 6% 25px;
}

.discover .p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 150;
  color: black;
  margin: 5px 10px 25px;
  box-shadow: -1px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.discover .btn {
  background: linear-gradient(#ff79da, #9356dc);
  padding: 8px 25px 5px 25px;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 2px rgba(5, 1, 1, 0.2);
  width: 70%;
}

.index-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  padding: 0px 20px 0px 20px;
  margin: 12px;
  padding: 12px;
  background-color: #f8f8f8;
  box-shadow: -3px 3px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-weight: bold;
}

.index-block .step {
  background-color: #9356dc;
  border-radius: 50%;
  padding: 3px 6px;
  margin-right: 4px;
  color: #fbfbfb;
}

.index-block .index-function {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.index-block .index-function .fas {
  margin-right: 10%;
  color: #909090;
}

.index-restos {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
}

figure {
  margin: 0px 10% 0px 10px;
  padding: 1px 2px 2px 2px;
  margin-right: 8%;
  min-width: 95%;
  height: 250px;
  background-color: #fbfbfb;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 1px 0px 0px 1px #dddddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 12px;
}

.click-new {
  border-radius: 10%;
  padding: 5px 10px;
  margin-left: 70%;
  margin-top: 15px;
  position: absolute;
  float: right;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 12px;
  font-weight: bold;
}

.img {
  width: 100%;
  height: 175px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  object-fit: cover;
}

.fa-heart {
  display: flex;
  float: right;
  font-size: 20px;
}

.container {
  position: absolute;
  display: flex;
  float: right;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  position: relative;
  display: flex;
  float: right;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 2px white;
}

.heart-color {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: #d356dc;
  opacity: 0;
  transform: scale(0);
  transition: .3s ease;
}

.heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}

.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: #d356dc;
  -webkit-text-stroke: 0px white;
}

.a {
  text-decoration: none;
}

figcaption {
  display: flex;
  float: left;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  text-decoration: none;
  min-width: 98%;
}

figcaption div {
  display: flex;
  float: left;
  flex-direction: row;
  justify-content: space-between;
}

.index-section-fonctionnement {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

footer {
  background-color: #2c2c2c;
  padding: 15px;
  font-family: "Shrikhand";
  margin: 0;
  color: white;
}

footer ul {
  list-style: none;
  text-decoration: none;
  margin-top: 5px;
  padding: 0px;
  color: white;
  font-family: "Roboto";
}

footer a {
  color: white;
}

footer li {
  padding-top: 5px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */