html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.main-menu {
  margin-top: -30px;
  background-color: #f8f8f8;
  border-radius: 50px 50px 0px 0px;
}

h2.resto {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
  margin: 30px 6% 0px;
}

.plat-type {
  overflow: hidden;
  min-height: 150px;
}

.plat-box {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.plat-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.prix {
  margin-right: 0px;
}

.check-appear {
  display: none;
  background-color: #99e2d0;
}

.fas.fa-check {
  background-color: white;
  margin: 35%;
  border-radius: 50%;
  color: #99e2d0;
  padding: 3px;
}

.btn {
  border-radius: 30px 30px 30px 30px;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border-style: hidden;
  font-size: 15px;
  font-weight: 400;
  color: white;
  margin: 0px 0px 50px;
  box-shadow: 2px 2px 5px 2px #f8f8f8;
}

.btn--order {
  display: block;
  margin: 40px auto 70px;
  padding: 15px 50px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fbfbfb;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: "Roboto";
}

.resto-body {
  justify-content: center;
}

header {
  padding-top: 10px;
  text-align: center;
  font-family: "Shrikhand";
}

h1 {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
}

header:not(.header-title) {
  max-height: 320px;
}

.wrapper {
  padding: 0;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 2px 2px 1px 2px #9a9a9a;
}

.localisation {
  background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px -5px #2c2c2c;
}

p {
  padding-left: 5px;
  font-family: "Roboto";
  font-weight: bold;
}

.discover {
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 50px;
}

.discover h2 {
  font-size: 18px;
  font-weight: 100;
  color: #2c2c2c;
  margin: 25px 6% 25px;
}

.discover .p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 150;
  color: black;
  margin: 5px 10px 25px;
}

.discover .btn {
  background: linear-gradient(#ff79da, #9356dc);
  padding: 5px 25px 5px 25px;
  border-radius: 25px;
  width: 50%;
}

.index-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  padding: 0px 20px 0px 20px;
  margin: 12px;
  padding: 12px;
  background-color: #f8f8f8;
  border-radius: 15px;
  font-weight: bold;
}

.index-block .step {
  background-color: #9356dc;
  border-radius: 50%;
  padding: 3px 6px;
  margin-right: 4px;
  color: #fbfbfb;
}

.index-block .index-function {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.index-block .index-function .fas {
  margin-right: 10%;
  color: #909090;
}

.index-restos {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  width: 100%;
}

image {
  margin: 0px 10% 0px 10px;
  margin-right: 10%;
  min-width: 96%;
  height: 250px;
  background-color: #fbfbfb;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 20px;
}

.click-new {
  border-radius: 10%;
  padding: 5px 10px;
  margin-left: 73%;
  margin-top: 15px;
  position: absolute;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 12px;
  font-weight: bold;
}

.img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  display: block;
  object-fit: cover;
}

.fa-heart {
  display: inline-block;
}

.a {
  text-decoration: none;
}

figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  text-decoration: none;
}

footer {
  background-color: #2c2c2c;
  padding: 15px;
  font-family: "Shrikhand";
  margin: 0;
  color: white;
}

footer ul {
  list-style: none;
  text-decoration: none;
  margin-top: 5px;
  padding: 0px;
  color: white;
  font-family: "Roboto";
}

footer a {
  color: white;
}

footer li {
  padding-top: 5px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */